<section class="section about-app-area ptb_100" id="about">
    <div class="shapes-container">
        <div class="shape-1"></div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <!-- About Text -->
                <div class="about-text">
                    <!-- Headings -->
                    <div class="headings d-flex align-items-center mb-4">
                        <span class="text-uppercase d-none d-sm-block">Sobre</span>
                        <h2 class="text-capitalize">Associado Digital</h2>
                    </div>
                    <p class="my-3">Com o nosso aplicativo associado digital, os cooperados poderão realizar o cadastro
                        na cooperativa sem precisar sair de casa, enviando os documento de forma segura pelo aplicativo
                        customizado para cada cooperativa.</p>
                    <p class="d-none d-sm-block my-3">Desenvolvemos um aplicativo customizado para cada cooperativa, com
                        sua logo, cores e alterações necessárias.</p>
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons">
                        <a href="https://play.google.com/store/apps/details?id=com.br.associado.digital.sicres"
                            class="btn btn-bordered" target="_blank">
                            <i class="icofont icofont-brand-android-robot dsp-tc"></i>
                            <p class="dsp-tc">Disponível no
                                <br> <span>Google Play</span></p>
                        </a>
                        <!-- <a href="#" class="btn btn-bordered">
                            <i class="icofont icofont-brand-apple dsp-tc"></i>
                            <p class="dsp-tc">AVAILABLE ON
                                <br> <span>Apple Store</span></p>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- About Thumb -->
                <div class="about-thumb text-center d-none d-lg-block">
                    <img src="assets/img/cooperativas.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>