<footer class="section footer-area footer-bg" id="footer">
    <!-- Footer Top -->
    <div class="footer-top ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#">
                            <img class="logo" src="assets/img/logomarca_branco.png" alt="">
                        </a>
                        <p class="text-white-50 mt-2 mb-3"> Rua Martim de Carvalho, 671, sala 5,
                            Santo Agostinho, Belo Horizonte - MG.<br>
                            Tel: 31 3879-8134<br>
                            E-mail: contato@declatecnologia.com.br
                        </p>
                        <!-- Social Icons -->
                        <div class="social-icons d-flex">
                            <a class="facebook" href="https://www.facebook.com/Decla-Tecnologia-114681076993571/">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="twitter" href="https://www.instagram.com/decla_tecnologia/">
                                <i class="fab fa-instagram insta"></i>
                                <i class="fab fa-instagram"></i>
                            </a>
                           <!-- <a class="google-plus" href="#">
                                <i class="fab fa-google-plus-g"></i>
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a class="vine" href="#">
                                <i class="fab fa-vine"></i>
                                <i class="fab fa-vine"></i>
                            </a>
                            -->
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div style="margin-left: 20%;" class="footer-items">
                        <!-- Footer Title 
                        <h3 class="footer-title text-white mb-2">Useful Links</h3>-->
                        <ul>
                            <!-- <li class="py-2">Ícones feitos por <a
                                    href="https://www.flaticon.com/br/icone-gratis/responsivo_975657"
                                    title="srip">srip</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">
                                    www.flaticon.com</a></li> -->
                            <li class="py-2"><a class="text-white-50" href="#">Home</a></li>
                            <li class="py-2"><a class="text-white-50" href="#solucoes">Soluções</a></li>
                            <li class="py-2"><a class="text-white-50" href="#servicos">Serviços</a></li>
                            <li class="py-2"><a class="text-white-50" href="#parceiros">Clientes</a></li>
                            <li class="py-2"><a class="text-white-50" href="#contato">Contato</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-white mb-2">Links Úteis</h3>
                        <ul>
                            
                            <li class="py-2"><a class="text-white-50" href="http://ibankdecla.com.br">Decla Banking</a></li>
                            <li class="py-2"><a class="text-white-50" href="https://play.google.com/store/apps/details?id=com.br.decla.proposta&hl=en_US">Decla Proposta</a></li>
                            <li class="py-2"><a class="text-white-50" href="https://play.google.com/store/apps/details?id=com.br.associado.digital.sicres">Associado Digital</a></li>
                            <!-- <li class="py-2"><a class="text-white-50" href="#">Terms &amp; Conditions</a></li>
                            <li class="py-2"><a class="text-white-50" href="#">Contact</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title 
                        <h3 class="footer-title text-white mb-2">Download</h3>-->
                        <ul>
                            <li class="py-2"><a class="text-white-50" href="https://bancodopovodigital.org.br/">Banco do Povo</a></li>
                            <li class="py-2"><a class="text-white-50" href="https://sicres.com.br/">Sicres</a></li>
                            <li class="py-2"><a class="text-white-50" href="https://bancodopovodigital.org.br/">Faepar</a></li>
                            <li class="py-2"><a class="text-white-50" href="https://credfisp.com.br/">CredFisp</a></li>
                            <li class="py-2"><a class="text-white-50" href="https://www.coopsebrae.com.br/">CoopSebrae</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Copyright Area -->
                    <div
                        class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                        <!-- Copyright Left -->
                        <div class="copyright-left text-white-50">&copy;2020 | Decla Tecnologia.</div>
                        <!-- Copyright Right 
                        <div class="copyright-right text-white-50">Made with <i class="icofont-heart-alt"></i> By <a
                                class="text-white-50" href="#">Theme Land</a></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>