<section id="parceiros" class="section screenshots-area ptb_100">
    <h2 style="text-align: center;">Parceiros Decla Tecnologia</h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- App Screenshot Slider Area -->
                <div class="app-screenshots">
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <a href="https://credfisp.com.br/"><img src="assets/img/screenshot_1.png" alt=""></a>
                        <!-- Screenshots Overlay <div class="screenshots-overlay">
                            
                        </div>-->
                        
                    </div>
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <a href="https://www.coopsebrae.com.br/" ><img src="assets/img/screenshot_2.png" alt=""> </a>
                        <!-- Screenshots Overlay <div class="screenshots-overlay">
                           
                        </div>-->
                        
                    </div>
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <a href="https://bancodopovodigital.org.br/" ><img src="assets/img/screenshot_3.png" alt=""></a>
                        <!-- Screenshots Overlay <div class="screenshots-overlay">
                            
                        </div>-->
                        
                    </div>
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <a href="https://sicres.com.br/" ><img src="assets/img/screenshot_4.png" alt=""></a>
                        <!-- Screenshots Overlay <div class="screenshots-overlay">
                            
                        </div>-->
                        
                    </div>
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <a href="https://bancodopovodigital.org.br/" ><img src="assets/img/screenshot_5.png" alt=""></a>
                        <!-- Screenshots Overlay <div class="screenshots-overlay">
                            
                        </div>-->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>