<section id="benifits" class="section benifits-area ptb_100">
    <div class="container">
        <div class="row">
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item text-center p-3">
                    <div class="feature-icon">
                        <img src="assets/img/promo_icon_1.png" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Robustez</h3>
                        <p>O CredPLUS foi desenvolvido com a mais avançada tecnologia e tem eficácia garantida. </p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item text-center p-3">
                    <div class="feature-icon">
                        <img src="assets/img/promo_icon_2.png" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Fácil de Usar</h3>
                        <p>Totalmente intuitivo, o CredPLUS é de fácil utilização e assimilação.</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item text-center p-3">
                    <div class="feature-icon">
                        <img src="assets/img/promo_icon_3.png" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Suporte total</h3>
                        <p>O CredPLUS tem suporte total da Decla Tecnologia para garantir sua máxima eficácia.</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item text-center p-3">
                    <div class="feature-icon">
                        <img src="assets/img/promo_icon_4.png" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Documentação</h3>
                        <p>A documentação do CredPLUS foi desenvolvida para que o usuário possa usufruir de todas as suas funcionalidades.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>