<div class="london bg-dark">
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-two></app-header-two>
        <app-hero-six></app-hero-six>
        <app-promo-two></app-promo-two>
        <app-about></app-about>
        <app-work></app-work>
        <app-features></app-features>
        <!-- <app-pricing></app-pricing> -->
        <app-reviews></app-reviews>
        <!-- <app-team></app-team> -->
        <app-newsletter></app-newsletter>
        <app-download></app-download>
        <app-screenshot></app-screenshot>
        <!-- <app-blog></app-blog> -->
        <!-- <app-contact></app-contact> -->
        <app-footer></app-footer>
        <!-- 11 | 0013   | Teste1     | 186.219.242.20     |   39106 | %DeclaCRED%       | DeclaCRED -->
        <!-- 0012   | Teste | sicres.ddns.com.br |   33060 | %DeclaCRED% | DeclaCRED -->
        <!-- 0003   | CredFisp   | 177.99.175.214     |   58790 | skill%%%cred_2010 | root  -->
        <!-- 0002   | Libra      | 186.226.174.170    |   43060 | %DeclaCRED% | 186.226.174.169 -->
        <!-- 0005   | CoopEmater | 187.115.154.18     |   33060 | %DeclaCRED% | DeclaCRED -->
        <!-- 0001   | CoopSebrae | 191.33.80.30       |    3306 | %DeclaCRED% | DeclaCRED -->

        <!-- INSERT INTO cooperativas (codigo, sigla, db_host, db_port, db_password, db_user) values("0003", "CredFisp", "177.99.175.214", 58790, "skill%%%cred_2010", "root"); -->
    </div>
</div>