<section id="benifits" class="section benifits-area ptb_100">
	<div class="container">
		<div class="row">
			<!-- Benifits Item -->
			<div class="col-12 col-sm-6 col-md-4">
				<div class="benifits-item text-center p-3">
					<div class="feature-icon">
						<img src="assets/img/features_icon_1.png" alt="">
					</div>
					<!-- Benifits Text -->
					<div class="benifits-text">
						<h3 class="mb-2">Eficiente</h3>
						<p>Nosso sistema foi totalmente redesenhado utilizando a expertise de sistemas anteriores, o
							CredPLUS versão
							corporativa utiliza banco de dados moderno</p>
					</div>
				</div>
			</div>
			<!-- Benifits Item -->
			<div class="col-12 col-sm-6 col-md-4">
				<div class="benifits-item text-center p-3">
					<div class="feature-icon">
						<img src="assets/img/features_icon_2.png" alt="">
					</div>
					<!-- Benifits Text -->
					<div class="benifits-text">
						<h3 class="mb-2">Seguro</h3>
						<p>Nessa
							direção grande ênfase tem sido colocada na segurança sendo um sistema livre de vírus e com
							um
							rigoroso controle de acessos e permissões de usuários.</p>
					</div>
				</div>
			</div>
			<!-- Benifits Item -->
			<div class="col-12 col-sm-6 col-md-4">
				<div class="benifits-item text-center p-3">
					<div class="feature-icon">
						<img src="assets/img/features_icon_3.png" alt="">
					</div>
					<!-- Benifits Text -->
					<div class="benifits-text">
						<h3 class="mb-2">Funcional</h3>
						<p>Lançamentos, cheque especial, adiantamento, talonários, devolução/sustação, cartões,
							extratos,
							posição de saldos, domicílio bancário, etc</p>
					</div>
				</div>
			</div>
			<!-- <div class="button-group store-buttons"> -->
			<!-- </div> -->
		</div>
		<div class="row justify-content-center ptb_100">
			<a href="#" class="btn btn-bordered"><span>Saiba mais sobre o <br> CREDPLUS</span></a>
		</div>
	</div>
</section>