<section class="section download-area ptb_100" id="download">
    <!-- Shapes Container -->
    <div class="shapes-container d-none d-sm-block">
        <div class="shape-2"></div>
        <div class="shape-3"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Download Text -->
                <div class="download-text text-center">
                    <h2>Decla Proposta</h2>
                    <p class="my-3">Nós contamos com um aplicativo para gerenciar as propostas financeiras da sua
                        Cooperativa.</p>
                    <p class="d-none d-sm-block my-3">Um aplicativo rápio, dinâmico e seguro para facilitar a votação em
                        propostas do comitê, notificando o usuário quando houver uma nova proposta.</p>
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons">
                        <a href="https://play.google.com/store/apps/details?id=com.br.decla.proposta&hl=en_US"
                            class="btn btn-bordered" target="_blank">
                            <i class="icofont icofont-brand-android-robot dsp-tc"></i>
                            <p class="dsp-tc">Disponível no
                                <br> <span>Google Play</span></p>
                        </a>
                        <!-- <a href="#" class="btn btn-bordered">
                            <i class="icofont icofont-brand-apple dsp-tc"></i>
                            <p class="dsp-tc">AVAILABLE ON
                                <br> <span>Apple Store</span></p>
                        </a> -->
                        <!-- <a href="#" class="btn btn-bordered d-none d-lg-inline-block">
                            <i class="icofont-brand-windows dsp-tc"></i>
                            <p class="dsp-tc">AVAILABLE ON
                                <br> <span>Windows Store</span></p>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>